*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:
Segoe UI,Arial,sans-serif;

background:#0b1220;

color:white;

line-height:1.6;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 8%;


}


.logo{

font-size:30px;

font-weight:700;

background:
linear-gradient(
90deg,
#00aaff,
#b000ff
);

-webkit-background-clip:text;

color:transparent;

}



nav a{

color:white;

text-decoration:none;

margin-left:25px;

}



nav a:hover{

color:#00aaff;

}





.hero{


display:flex;

align-items:center;

justify-content:space-between;

padding:80px 8%;


}




.hero-text{

max-width:600px;

}



.hero h1{

font-size:55px;

}


.hero h1 span{

background:
linear-gradient(
90deg,
#00aaff,
#ff4fd8
);

-webkit-background-clip:text;

color:transparent;

}



.hero h2{

color:#00aaff;

margin:15px 0;

}



.hero p{

font-size:18px;

color:#ccc;

}




.hero-image img{

width:300px;

border-radius:50%;

border:5px solid #00aaff;

}




.buttons{

margin-top:30px;

}


.btn{

display:inline-block;

padding:12px 25px;

background:#007bff;

border-radius:30px;

color:white;

text-decoration:none;

margin-right:15px;

}



.outline{

background:none;

border:1px solid #007bff;

}






section{

padding:60px 8%;

}



section h2{

font-size:35px;

margin-bottom:30px;

color:#00aaff;

}




.card,
.project{


background:#111c33;

padding:25px;

border-radius:15px;

margin-bottom:20px;

}
.project img{

    width:100px;

    height:100px;

    object-fit:cover;

    border-radius:50%;

    margin-bottom:15px;

}




.card span{

color:#aaa;

}




.skills{

display:grid;

grid-template-columns:repeat(
auto-fit,minmax(200px,1fr)
);

gap:20px;

}



.skills div{

background:#111c33;

padding:20px;

border-radius:15px;

text-align:center;

}




.project img{

width:100%;

max-width:400px;

border-radius:15px;

}



a{

color:#00aaff;

}





footer{

text-align:center;

padding:30px;

color:#aaa;

}







@media(max-width:768px){


header{

flex-direction:column;

}


nav{

margin-top:20px;

}


.hero{

flex-direction:column;

text-align:center;

}


.hero h1{

font-size:40px;

}


.hero-image{

margin-top:40px;

}


}
